---
const pageTtitle = "Blog Page";

const newsletterReminder = true;
var allPosts = await Astro.glob("../pages/blog/*.md");
allPosts = allPosts.sort((a, b) => {
  let dateA =
    a.frontmatter && a.frontmatter.pubDate
      ? new Date(a.frontmatter.pubDate)
      : new Date(0);
  let dateB =
    b.frontmatter && b.frontmatter.pubDate
      ? new Date(b.frontmatter.pubDate)
      : new Date(0);
  return dateB.getTime() - dateA.getTime();
});

import Button from "../components/Button.astro";
import CardB from "../components/CardB.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Bryan's Blog"
  headerMode="Blog"
  metaDescription="Bryan Hogan's Blog. All about learning, creating and finding balance."
  ogtype="website"
>
  <div class="gradient-background text-shadow intro-section text-align-center">
    <h1>Bryan's Blog</h1>
    <p>About learning, creating and finding balance.</p>
    <Button
      link="/follow"
      text="Join The Newsletter"
      targetText=""
      buttonStyle="transparent-bright small inset-dark-shadow"
    />
  </div>
  <ul class="posts-container">
    {
      allPosts.map((post) => (
        <li class="post">
          <CardB
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            ahref={post.url}
            coverURL={post.frontmatter.coverImage.url}
            transition:name={post.frontmatter.coverImage.url}
            coverALT={post.frontmatter.coverImage.alt}
            coverWidth={post.frontmatter.coverImage.width}
            coverHeight={post.frontmatter.coverImage.height}
            tag={post.frontmatter.tags[0]}
            length={post.frontmatter.length}
            postURL={post.url}
          />
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  .intro-section {
    min-height: 410px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    & h1 {
      margin: 30px;
      margin-top: 50px;
    }
    & p {
      margin-bottom: 20px;
    }
  }
  .posts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    & li {
      max-width: 400px;
      width: 80%;
      margin: 40px;
    }
  }
  @media only screen and (max-width: 699px) {
  }
</style>
