---
import { Image } from "astro:assets";
import BryanHoganImage from "../assets/images/Bryan-Hogan.png";
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import CardMin from "../components/CardMin.astro";
import Icon from "../components/Icon.astro";
import CardBlog from "../components/CardBlog.astro";
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import socials from "../data/socials";
const blogPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
---

<BaseLayout
	title="Bryan Hogan"
	description="I'm Bryan Hogan, a Web Developer, Digital Creator and Blogger. Welcome to my personal page for you."
>
	<section class="intro-section-container padding-top-l padding-bottom-l">
		<div class="intro-container">
			<div class="intro margin-bottom-s">
				<h1>Hi, I'm<br />Bryan Hogan.</h1>
				<Image
					class="image"
					src={BryanHoganImage}
					alt="Image of Bryan Hogan in a classic polariod style"
					width={237}
					height={234}
				/>
			</div>
			<p>I'm a Developer, Digital Creator and Blogger.</p>
		</div>
		<div class="intro-button-navigation">
			<Button text="Blog" href="/blog" buttonStyle="gradient set-size"/>
			<Button text="Follow" href="/follow" buttonStyle="neutral-strong set-size"/>
			<Button text="Projects" href="/projects" buttonStyle="neutral-strong set-size"/>
		</div>
	</section>
	<section class="all-pages-nav-section margin-bottom-2xl">
		<h2 class="text-align-center padding-bottom-m">See More</h2>
		<ul role="list">
			<li><a href="/blog">Blog</a></li>
			<li><a href="/follow">Monthly-Mail</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/socials">Socials</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/now">Now</a></li>
			<li><a href="/ideas">Ideas</a></li>
			<li><a href="/portfolio">Portfolio</a></li>
		</ul>
	</section>
	<div class="content-sections-container">
		<section class="content-cards-container">
			<div class="first-row">
				<h2>Blog</h2>
				<Button text="See all blog posts" href="/blog" buttonStyle="line gradient-underline icon-left" icon="rightarrow"/>
				<Button text="See blog introduction" href="/blog-introduction" buttonStyle="line icon-left" icon="rightarrow"/>
			</div>
			<div class="blog-content-cards">
				{
					blogPosts.slice(0, 3).map((post) => (
						<CardBlog post={post}/>
					))
				}
			</div>
		</section>
		<section class="content-cards-container">
			<div class="first-row">
				<h2>Projects</h2>
				<Button text="See all projects" href="/projects" buttonStyle="line icon-left" icon="rightarrow"/>
			</div>
			<div class="projects-content-cards">
				<Card title="ToLearnKorean" href="https://tolearnkorean.com/">
					<p>Website on information to learn Korean.</p>
					<Icon name="lightbulb" label="lightbulb icon" size="1.5rem" slot="icon-row"/>
				</Card>
				<Card title="WebDev Guide" href="https://webdev.bryanhogan.com/">
					<p>Guide on building well designed performant web pages.</p>
					<Icon name="puzzle" label="puzzle icon" size="1.5rem" slot="icon-row"/>
				</Card>
				<Card title="Flow Timer" href="https://timer.bryanhogan.com/" >
					<p>Flow timer is a timer for time-boxing and getting tasks done without getting distracted.</p>
					<Icon name="timer" label="timer icon" size="1.5rem" slot="icon-row"/>
				</Card>
			</div>
		</section>
		<section class="content-cards-container">
			<div class="first-row">
				<h2>Socials</h2>
				<Button text="See all socials" href="/socials" buttonStyle="line icon-left" icon="rightarrow"/>
			</div>
			<div class="some-content-row">
				<CardMin href={socials.threads.href} title={socials.threads.name}><Icon name="threads" label="Threads icon" size="2.5rem"/></CardMin>
				<CardMin href={socials.bluesky.href} title={socials.bluesky.name}><Icon name="bluesky" label="BlueSky icon" size="2.5rem"/></CardMin>
				<CardMin href={socials.mastodon.href} title={socials.mastodon.name}><Icon name="mastodon" label="Mastodon icon" size="2.5rem"/></CardMin>
				<CardMin href={socials.instagram.href} title={socials.instagram.name}><Icon name="instagram" label="Instagram icon" size="2.5rem"/></CardMin>
			</div>
		</section>
	</div>
</BaseLayout>

<style>
	.intro-section-container {
		display: flex;
		flex-direction: column;
		min-height: calc(100svh - var(--footer-height) - var(--navbar-height));
		justify-content: center;
	}
	.intro-container {
		margin-inline: auto;
		max-width: max-content;
		& .intro {
			display: flex;
			flex-direction: column-reverse;
			gap: var(--space-xs);
		}
		& .image {
			align-self: center;
			width: auto;
			height: 7rem;
		}
	}
	.intro-button-navigation {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin-block: var(--space-l);
		gap: var(--space-m) var(--space-l);
	}
	.all-pages-nav-section {
		ul {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: var(--space-s);
		}
	}
	.content-sections-container {
		max-width: 64rem;
		width: 100%;
		margin-inline: auto;
	}
	.content-cards-container {
		margin-bottom: var(--space-2xl);
		.first-row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			gap: var(--space-m);
			margin-bottom: var(--space-l);
			h2 {
				margin-right: var(--space-s);
			}
		}
	}
	.blog-content-cards, .projects-content-cards {
		display: grid;
		gap: var(--space-l);
		grid-template-columns: 1fr;
	}
	.some-content-row {
		display: grid;
		gap: var(--space-m);
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		align-items: center;
		max-width: 40rem;
	}
	@media (min-width: 48rem) {
		.intro-container .intro {
			flex-direction: row;
		}
		.intro-button-navigation {
			margin-block: var(--space-l);
			gap: var(--space-m) var(--space-l);
		}
		.blog-content-cards, .projects-content-cards {
			grid-template-columns: 1fr 1fr 1fr;
		}
		.some-content-row {
			grid-template-columns: repeat(4, 1fr);
		}
	}
</style>
