---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import CardLU from "../components/CardLU.astro";
import { LifeUpdates } from "../data/life-updates.ts";
import { Image } from "astro:assets";
import BryanHoganImage from "../assets/images/Bryan-Hogan.png";
---

<Layout
  title="Bryan Hogan"
  metaDescription="I'm Bryan Hogan, a Web Developer, Digital Creator and Blogger. Welcome to my personal page for you."
  headerMode="All"
>
  <section class="intro">
    <div class="intro-section">
      <div class="header-picture-section">
        <h1>Hi, I'm<br />Bryan Hogan.</h1>
        <Image
          class="image"
          src={BryanHoganImage}
          alt="Bryan Hogan thumbs up"
          width={237}
          height={240}
        />
      </div>
      <p>On this page you can find my blog, portfolio and more.</p>
      <div class="button-group">
        <Button
          link="/blog"
          text="Blog"
          targetText="_self"
          buttonStyle="gradient large grow"
        />
        <Button
          link="/follow"
          text="Follow"
          targetText="_self"
          buttonStyle="bright large grow"
        />
        <Button
          link="/portfolio"
          text="Portfolio"
          targetText="_self"
          buttonStyle="bright large grow"
        />
      </div>
    </div>
  </section>
  <section>
    <h2 class="text-align-center">Life Updates</h2>
    <ul class="life-updates-container">
      {
        LifeUpdates.map((lifeUpdate) => (
          <li>
            <CardLU
              title={lifeUpdate.title}
              date={lifeUpdate.date}
              text={lifeUpdate.description}
              cardButtons={lifeUpdate.cardButtons}
            />
          </li>
        ))
      }
      <li>
        <li class="special">
          <p>
            Sharing updates on my life. The <a href="/about">About</a> and <a
              href="/now">Now</a
            > pages are also definitely worth checking out.
          </p>
        </li>
      </li>
    </ul>
  </section>
</Layout>

<style>
  .life-updates-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    list-style: none;
    max-width: 1350px;
    width: 80%;
    margin-inline: auto;
    & .special {
      grid-row: 1;
      height: min-content;
      & p {
      }
    }
  }
  h1 {
    font-size: 3.2em;
    padding-bottom: 0.25em;
  }
  .intro {
    min-height: 75svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
  }
  section {
    padding: 0px;
    margin: 0px;
  }
  .intro-section {
    min-height: 40svh;
    max-width: 650px;
    margin-inline: auto;
    padding-inline: 1em;
    & .image {
      height: 100%;
      width: 130px;
      margin: 0.5rem;
      border-radius: 2rem;
    }
  }
  .header-picture-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 4em;
  }
  @media only screen and (max-width: 699px) {
    .life-updates-container {
      grid-template-columns: 1fr;
      & .special {
        margin-block: 1em;
      }
    }
    .intro-section {
      & .image {
        margin-inline: auto;
        padding-bottom: 1em;
      }
    }
    .button-group {
      justify-content: space-around;
    }
  }
  @media only screen and (min-width: 700px) {
    .life-updates-container {
      & .special {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        width: 100%;
        height: 100%;
        border: 1px solid white;
        border-radius: 1em;
        & p {
          padding: 20px;
        }
      }
    }
    .life-updates-container {
      gap: 2.4em 1.2em;
    }
    .header-picture-section {
      flex-direction: row;
    }
  }
</style>
