---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import CardLU from "../components/CardLU.astro";
import { LifeUpdates } from "../data/life-updates.ts";
import { Image } from "astro:assets";
import BryanHoganImage from "../assets/images/Bryan-Hogan.png";
import CardGrid from "../components/CardGrid.astro";
import CardC from "../components/CardC.astro";
import CardCSection from "../components/CardCSection.astro";
import { mastodon, instagram, threads } from "../data/socials";
import { getCollection } from "astro:content";
const allPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
---

<Layout
  title="Bryan Hogan"
  metaDescription="I'm Bryan Hogan, a Web Developer, Digital Creator and Blogger. Welcome to my personal page for you."
  headerMode="All"
>
  <section class="intro">
    <div class="intro-section">
      <div class="header-picture-section">
        <h1>Hi, I'm<br />Bryan Hogan.</h1>
        <Image
          class="image"
          src={BryanHoganImage}
          alt="Image of Bryan Hogan in a classic polaroid style"
          width={237}
          height={234}
        />
      </div>
      <p>I'm a Developer, Digital Creator and Blogger.</p>
      <div class="button-group">
        <Button
          link="/blog"
          text="Blog"
          targetText="_self"
          buttonStyle="gradient large grow"
        />
        <Button
          link="/follow"
          text="Follow"
          targetText="_self"
          buttonStyle="bright large grow"
        />
        <Button
          link="/portfolio"
          text="Portfolio"
          targetText="_self"
          buttonStyle="bright large grow"
        />
      </div>
    </div>
  </section>
  <section>
    <h2 class="margin-inline text-align-center">There's More?</h2>
    <ul class="sub-menu-navigation-container">
      <li><a href="/blog">Blog</a></li>
      <li><a href="/follow">Monthly-Mail</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/now">Now</a></li>
      <li><a href="/ideas">Ideas</a></li>
    </ul>
    <CardGrid>
      <CardC
        title="ToLearnKorean.com"
        titlehref="https://tolearnkorean.com/"
        icon="external"
        external
        backgroundColor="var(--color-side-accent-a)"
      >
        <p>
          Made a website for anyone wanting to learn Korean. Sharing alongside
          my personal learning.
        </p>
      </CardC>
      <CardC
        title="ðŸ’œðŸ¢"
        titlehref="/blog"
        icon="pen"
        backgroundColor="var(--color-side-accent-b)"
      >
        <p>
          I will put something else in this box in the future. For now you can
          look at this amazing turtle emoji.
        </p>
      </CardC>
      <CardC
        title="Life Updates"
        titlehref="/about"
        icon="star"
        gridHeight={"3"}
        backgroundColor="var(--color-side-accent-b)"
      >
        {
          LifeUpdates.slice(0, 3).map((lifeUpdate) => (
            <CardCSection
              title={lifeUpdate.title}
              date={lifeUpdate.date}
              text={lifeUpdate.description}
              cardButtons={lifeUpdate.cardButtons}
            />
          ))
        }
      </CardC>
      <CardC
        title="Web Dev Helper & Components"
        titlehref="https://webdev.bryanhogan.com/"
        icon="puzzle"
        external
        backgroundColor="var(--color-side-accent-d)"
      >
        <p>
          Collection of components for any web development project and help for
          getting started as a web developer.
        </p>
      </CardC>
      <CardC
        title="Blog"
        titlehref="/blog"
        icon="lightbulb"
        backgroundColor="var(--color-main-dark)"
      >
        <p>
          Check out my latest post titled: "<a
            href={`/blog/${allPosts[0].slug}/`}>{allPosts[0].data.title}</a
          >".
        </p>
      </CardC>
      <CardC
        title="Instagram"
        titlehref={instagram.href}
        icon="instagram"
        external
        backgroundColor="var(--color-side-accent-b)"
      >
        <p>
          Instagram is a platform for sharing pictures. Oh, you already knew that and the info is out of date? How about <a
            href={mastodon.href}
            target="_blank">my Mastodon</a
          > or <a href={threads.href}>Threads</a> then, the best place to share Tweets
          now.
        </p>
      </CardC>

      <CardC
        title="Beku.blue"
        titlehref="https://buttondown.email/BekuBlue"
        icon="openbook"
        external
        backgroundColor="var(--color-side-accent-c)"
      >
        <p>
          Collection of Game Reviews. Page not built yet. You can <a
            href="https://buttondown.email/BekuBlue"
            target="_blank">subscribe</a
          > to Beku.blue by mail and get notified when the page is ready.
        </p>
      </CardC>
    </CardGrid>
  </section>
</Layout>

<style>
  .sub-menu-navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    margin-inline: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding-inline: 1rem;
    & a {
      color: var(--color-main-bright);
      font-weight: 500;
    }
    & a:hover {
      color: var(--color-main-accent);
    }
  }
  .life-updates-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    list-style: none;
    max-width: 1350px;
    width: 80%;
    margin-inline: auto;
    & .special {
      grid-row: 1;
      height: min-content;
      & p {
      }
    }
  }
  h1 {
    font-size: 3.2em;
    padding-bottom: 0.25em;
  }
  .intro {
    min-height: 80svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
  }
  section {
    padding: 0px;
    margin: 0px;
  }
  .intro-section {
    min-height: 40svh;
    max-width: 650px;
    margin-inline: auto;
    padding-inline: 1em;
    & .image {
      height: 100%;
      width: 130px;
      margin: 0.5rem;
      border-radius: 2rem;
    }
  }
  .header-picture-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 4em;
  }
  @media only screen and (max-width: 699px) {
    .life-updates-container {
      grid-template-columns: 1fr;
      & .special {
        margin-block: 1em;
      }
    }
    .intro-section {
      & .image {
        margin-inline: auto;
        padding-bottom: 1em;
      }
    }
    .button-group {
      justify-content: space-around;
    }
  }
  @media only screen and (min-width: 700px) {
    .life-updates-container {
      & .special {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        width: 100%;
        height: 100%;
        border: 1px solid white;
        border-radius: 1em;
        & p {
          padding: 20px;
        }
      }
    }
    .life-updates-container {
      gap: 2.4em 1.2em;
    }
    .header-picture-section {
      flex-direction: row;
    }
  }
</style>
