---
import Button from "./Button.astro";

export interface CardLUButton {
    buttonText: string;
    buttonLink: string;
    buttonTarget: string;
}

interface Props {
    title: string;
    date: Date;
    text: string;
    cardButtons: Array<CardLUButton>;
}

const { title, date, text, cardButtons } = Astro.props;
---

<div class="card-container">
    <div class="title-row">
        <h3>{title}</h3>
        <time datetime={new Date(date).toISOString()}>
            <p>
                {new Date(date).toLocaleDateString()}
            </p>
        </time>
    </div>
    <p>{text}</p>
    <div class="buttons-container">
        {
            cardButtons.map((button) => (
                <Button
                    link={button.buttonLink}
                    text={button.buttonText}
                    targetText={button.buttonTarget}
                    buttonStyle="transparent-bright small grow color-accent"
                />
            ))
        }
    </div>
</div>

<style>
    .buttons-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .card-container {
        max-width: 400px;
        margin: 20px;
        min-width: 90%;
    }
    .title-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        & h3 {
            font-size: 1.2em;
        }
        & time {
            margin-left: auto;
            padding-left: 1em;
        }
    }
</style>
