---
interface Props {
  title: string;
  description: string;
  ahref: string;
  coverURL: string;
  coverALT: string;
  coverWidth: any;
  coverHeight: any;
  tag: string;
  length: string;
  postURL: string;
  pubDate: Date;
  lastUpdate: Date;
}
const {
  coverURL,
  coverALT,
  coverWidth,
  coverHeight,
  title,
  tag,
  length,
  postURL,
  description,
  pubDate,
  lastUpdate,
} = Astro.props;
---

<div class="card-container">
  <a href={postURL}>
    <div class="gradient-background gradient-area">
      <div class="first-row-container">
        <img
          class="post-cover-symbol"
          src={coverURL}
          alt={coverALT}
          width={coverWidth}
          height={coverHeight}
          transition:name={coverURL}
        />
        <div class="lastUpdateDate" title="Last Update">
          <img
            class="round-arrow-icon"
            src="/icons/Round-Arrow-Icon.svg"
            alt="Round arrow indicating date of last update"
            width="20"
            height="20"
          />
          <p class="date-text">
            <small>
              <time datetime={pubDate.toISOString()}>
                {new Date(pubDate).toLocaleDateString()}
              </time>
            </small>
          </p>
        </div>
      </div>
      <h2>{title}</h2>
      <div class="information-area">
        <div>
          <img
            src="/icons/Tag-Icon.svg"
            alt="Minimal bright tag icon"
            width="17"
            height="17"
          /><p>{tag}</p>
        </div>
        <div>
          <img
            src="/icons/Timer-Icon.svg"
            alt="Minimal bright timer icon"
            width="14"
            height="17"
          /><p>{length}</p>
        </div>
      </div>
    </div>
  </a>
  <a href={postURL} class="description-text">
    <p>{description}</p>
  </a>
</div>

<style>
  .first-row-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    & > img {
      grid-column: 1 / 4;
      grid-row: 1;
    }
    & > .lastUpdateDate {
      grid-column: 3 / 4;
      grid-row: 1;
      opacity: 0.9;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: min-content;
      padding-top: 5px;
      padding-right: 20px;
      & .round-arrow-icon {
        width: 0.8em;
        height: auto;
        margin-right: 5px;
        margin-top: 2px;
      }
    }
  }
  .date-text {
  }
  .post-cover-symbol {
    max-height: 75px;
    width: 75px;
    margin-top: 30px;
  }
  .card-container {
    & a {
      text-decoration: none;
      color: var(--color-main-bright);
    }
    & .description-text p {
      margin-top: 20px;
      max-width: 400px;
      padding-inline: 5px;
    }
    & h2 {
      font-size: 1.6rem;
      text-align: center;
      text-shadow: var(--text-shadow);
      margin: 15px 10px;
    }
  }
  .gradient-area {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    & .post-cover-symbol {
      margin-inline: auto;
      height: 70px;
    }
    & .information-area {
      background-color: var(--color-main-dark-transparent);
      border-radius: 0px 0px 1em 1em;
      margin-top: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      & img {
        width: 100%;
        height: 20px;
      }
      & div {
        padding: 10px 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        & * {
          padding-inline: 5px;
        }
      }
    }
  }
</style>
