---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Icon from "./Icon.astro";
interface Props {
    post: CollectionEntry<"blog">;
    backgroundColor?: string;
    transitionIcon?: boolean;
}

const { post, backgroundColor = "var(--color-accent-cyan-500)", transitionIcon = false } = Astro.props;
import { getReadingTime } from "../utils/reading-time.ts"
import { getLastModifiedDate } from "../utils/last-update";

const lastUpdate = await (post.data.lastUpdate || getLastModifiedDate(`src/content/blog/${post.id}.md`));
const formattedDateLastUpdate = lastUpdate.toLocaleDateString("en-GB");
const isoLastUpdate = lastUpdate.toISOString();
---

<a href={`/blog/${post.id}`}>
    <div class="container">
        <div class="image-container flex-center">
            { transitionIcon ?
                <Image
                    src={post.data.coverImage as ImageMetadata}
                    alt={post.data.title + " cover image icon"}
                    transition:name={post.data.title}
                    style="max-height: 100%; width: auto;"
                />
                :
                <Image
                    src={post.data.coverImage as ImageMetadata}
                    alt={post.data.title + " cover image icon"}
                    style="max-height: 100%; width: auto;"
                />
            }
        </div>
        <div class="text-container">
            <h3>{post.data.title}</h3>
            <p class="description">{post.data.description}</p>
            <div class="tag-row-container margin-bottom-xs">
                <Icon name="tag" label="Tag icon" size="1.5rem" />
                <p>{post.data.tags[0]}{post.data.tags[1] ? ", " + post.data.tags[1] : ""}</p>
            </div>
            <div class="last-row-container">
                <div class="last-update">
                    <Icon name="updated" label="Tag icon" size="1.5rem" />
                    <p><time datetime={isoLastUpdate}>{formattedDateLastUpdate}</time></p>
                </div>
                <div class="reading-time">
                    <Icon name="timer" label="Tag icon" size="1.5rem" />
                    <p>{getReadingTime(post.body || "")} min</p>
                </div>
            </div>
        </div>
    </div>
</a>

<style define:vars={{ backgroundColor }}>
    a {
        text-decoration: none;
    }
    .container, .text-container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .image-container {
        background-color: var(--backgroundColor);
        border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
        min-height: 8rem;
        > * {
            height: 5rem;
            width: 100%;
            max-width: 70%;
        }
    }
    .text-container {
        padding: var(--space-m);
        background-color: var(--color-neutral-800);
        border-radius: 0 0 var(--border-radius-m) var(--border-radius-m);
        h3 {
            font-size: var(--font-size-large);
            padding-bottom: var(--space-s);
        }
        .description {
            padding-bottom: var(--space-m);
            color: var(--color-neutral-200);
        }
    }
    .tag-row-container,
    .last-row-container > div {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: var(--space-xs);
        color: var(--color-neutral-200);
        p {
            font-size: var(--font-size-small);
        }
    }
    .tag-row-container {
        margin-top: auto;
        p {
            text-transform: capitalize;
        }
    }
    .last-row-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: var(--space-s);
        row-gap: var(--space-xs);
    }
</style>
