---
interface Props {
  mode: string;
}

import {instagram, linkedin, youtube, twitch, github, substack, medium} from "./socials.ts"
import SocialRefAnchorElement from "./SocialRefAnchorElement.astro";

const { mode } = Astro.props;
{
  /* Modes: All, Home, Blog, Professional */
}
const logoHome = {
  href: "/",
  src: "/logos/Bryan-Hogan-Light-Logo.svg",
  alt: "Bryan Hogan's minimalist 1bit pixelart turtle logo soft white color only",
  width: "16",
  height: "16",
  title: "Home Page",
  target: "_self",
};
const follow = {
  href: "/follow",
  src: "/icons/Bird-Icon.svg",
  alt: "Simple bird icon simple soft white color only",
  width: "24",
  height: "24",
  title: "Join The Mail Newsletter",
  target: "_self",
};
---

<header>
  <nav>
    {
      mode == "All" && (
        <ul class="header-container">
          <li style="width: 100%;">
            <ul class="container-priority-items">
              <li>
                <a href={logoHome.href} target={logoHome.target}>
                  <img
                    src={logoHome.src}
                    alt={logoHome.alt}
                    width={logoHome.width}
                    height={logoHome.height}
                    title={logoHome.title}
                  />
                </a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <img
              src="/icons/Menu-Icon.svg"
              class="menu-icon"
              alt="Menu bar icon simple soft white color only"
              width="18"
              height="14"
            />
            <ul class="container-dropdown-items">
              <li>
                <a href="../portfolio#contact">Contact</a>
              </li>
              <li>
                <a href={follow.href} target={follow.target}>
                  <img
                    src={follow.src}
                    alt={follow.alt}
                    width={follow.width}
                    height={follow.height}
                    title={follow.title}
                  />
                </a>
              </li>
              <li>
                <SocialRefAnchorElement social={medium}/>
              </li>
              <li>
                <SocialRefAnchorElement social={linkedin}/>
              </li>
              <li>
                <a href={instagram.url} target="_blank">
                  <img
                    src={instagram.logo.url}
                    alt={instagram.logo.alt}
                    width={instagram.logo.width}
                    height={instagram.logo.height}
                    title={instagram.name}
                  />
                </a>
              </li>
              <li>
                <a href={youtube.url} target="_blank">
                  <img
                    src={youtube.logo.url}
                    alt={youtube.logo.alt}
                    width={youtube.logo.width}
                    height={youtube.logo.height}
                    title={youtube.name}
                  />
                </a>
              </li>
              <li>
                <a href={twitch.url} target="_blank">
                  <img
                    src={twitch.logo.url}
                    alt={twitch.logo.alt}
                    width={twitch.logo.width}
                    height={twitch.logo.height}
                    title={twitch.name}
                  />
                </a>
              </li>
              <li>
                <a href={github.url} target="_blank">
                  <img
                    src={github.logo.url}
                    alt={github.logo.alt}
                    width={github.logo.width}
                    height={github.logo.height}
                    title={github.name}
                  />
                </a>
              </li>
            </ul>
          </li>
        </ul>
      )
    }
    {
      mode == "Home" && (
        <ul class="header-container">
          <li style="width: 100%;">
            <ul class="container-priority-items">
              <li>
                <a href={logoHome.href} target={logoHome.target}>
                  <img
                    src={logoHome.src}
                    alt={logoHome.alt}
                    width={logoHome.width}
                    height={logoHome.height}
                    title={logoHome.title}
                  />
                </a>
              </li>
              <li>
                <a href="/blog">Blog</a>
              </li>
              <li>
                <a href={follow.href} target={follow.target}>
                  <img
                    src={follow.src}
                    alt={follow.alt}
                    width={follow.width}
                    height={follow.height}
                    title={follow.title}
                  />
                </a>
              </li>
              <li>
                <a href="/portfolio">Portfolio</a>
                </li>
            </ul>
          </li>
          <li class="dropdown">
            <img
              src="/icons/Menu-Icon.svg"
              class="menu-icon"
              alt="Menu bar icon simple soft white color only"
              width="18"
              height="14"
            />
            <ul class="container-dropdown-items">
              <li>
                <a href={instagram.url} target="_blank">
                  <img
                    src={instagram.logo.url}
                    alt={instagram.logo.alt}
                    width={instagram.logo.width}
                    height={instagram.logo.height}
                    title={instagram.name}
                  />
                </a>
              </li>
              <li>
                <a href={medium.url} target="_blank">
                  <img
                    src={medium.logo.url}
                    alt={medium.logo.alt}
                    width={medium.logo.width}
                    height={medium.logo.height}
                    title={medium.name}
                  />
                </a>
              </li>
              <li>
                <a href={linkedin.url} target="_blank">
                  <img
                    src={linkedin.logo.url}
                    alt={linkedin.logo.alt}
                    width={linkedin.logo.width}
                    height={linkedin.logo.height}
                    title={linkedin.name}
                  />
                </a>
              </li>

              <li>
                <a href={github.url} target="_blank">
                  <img
                    src={github.logo.url}
                    alt={github.logo.alt}
                    width={github.logo.width}
                    height={github.logo.height}
                    title={github.name}
                  />
                </a>
              </li>
            </ul>
          </li>
        </ul>
      )
    }
    {
      mode == "Professional" && (
        <ul class="header-container">
          <li style="width: 100%;">
            <ul class="container-priority-items">
              <li>
                <a href={logoHome.href} target={logoHome.target}>
                  <img
                    src={logoHome.src}
                    alt={logoHome.alt}
                    width={logoHome.width}
                    height={logoHome.height}
                    title={logoHome.title}
                  />
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <img
              src="/icons/Menu-Icon.svg"
              class="menu-icon"
              alt="Menu bar icon simple soft white color only"
              width="18"
              height="14"
            />
            <ul class="container-dropdown-items">
              <li>
                <a href="#contact">Contact</a>
              </li>
              <li>
                <a href={linkedin.url} target="_blank">
                  <img
                    src={linkedin.logo.url}
                    alt={linkedin.logo.alt}
                    width={linkedin.logo.width}
                    height={linkedin.logo.height}
                    title={linkedin.name}
                  />
                </a>
              </li>

              <li>
                <a href={github.url} target="_blank">
                  <img
                    src={github.logo.url}
                    alt={github.logo.alt}
                    width={github.logo.width}
                    height={github.logo.height}
                    title={github.name}
                  />
                </a>
              </li>
            </ul>
          </li>
        </ul>
      )
    }
    {
      mode == "Blog" && (
        <ul class="header-container">
          <li style="width: 100%;">
            <ul class="container-priority-items">
              <li>
                <a href={logoHome.href} target={logoHome.target}>
                  <img
                    src={logoHome.src}
                    alt={logoHome.alt}
                    width={logoHome.width}
                    height={logoHome.height}
                    title={logoHome.title}
                  />
                </a>
              </li>
              <li>
                <a href="/blog">Blog</a>
              </li>
              <li>
                <a href={follow.href} target={follow.target}>
                  <img
                    src={follow.src}
                    alt={follow.alt}
                    width={follow.width}
                    height={follow.height}
                    title={follow.title}
                  />
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <img
              src="/icons/Menu-Icon.svg"
              class="menu-icon"
              alt="Menu bar icon simple soft white color only"
              width="18"
              height="14"
            />
            <ul class="container-dropdown-items">
              <li>
                <a href={instagram.url} target="_blank">
                  <img
                    src={instagram.logo.url}
                    alt={instagram.logo.alt}
                    width={instagram.logo.width}
                    height={instagram.logo.height}
                    title={instagram.name}
                  />
                </a>
              </li>
              <li>
                <a href={medium.url} target="_blank">
                  <img
                    src={medium.logo.url}
                    alt={medium.logo.alt}
                    width={medium.logo.width}
                    height={medium.logo.height}
                    title={medium.name}
                  />
                </a>
              </li>
            </ul>
          </li>
        </ul>
      )
    }
  </nav>
</header>

<style>
  header {
    width: 100%;
    height: 50px;
  }
  .header-container {
    position: fixed;
    background-color: var(--color-main-dark);
    z-index: 4;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 100%;
    & li a {
      color: var(--color-main-bright);
      text-decoration: none;
    }
    & .container-dropdown-items li,
    .container-priority-items li {
      transition: all 300ms;
      filter: brightness(0) saturate(100%) invert(57%) sepia(6%) saturate(183%)
        hue-rotate(169deg) brightness(92%) contrast(92%);
      transform: scale(1.001);
      &:hover {
        transition: all 200ms;
        filter: brightness(0) saturate(100%) invert(86%) sepia(2%)
          saturate(892%) hue-rotate(187deg) brightness(114%) contrast(88%);
        transform: scale(1.1) translate3d(0, 0, 0) perspective(1px);
      }
    }
  }
  img {
    height: 20px;
    width: 100%;
    min-width: 30px;
  }
  .dropdown,
  .container-priority-items {
    height: 100%;
  }
  .container-dropdown-items,
  .container-priority-items,
  .dropdown {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .last-item-left-side {
    margin-right: auto;
  }
  .last-item-right-side {
    margin-left: auto;
  }
  .container-dropdown-items li,
  .container-priority-items li {
    padding: 5px 7px;
    & a {
    }
  }
  @media only screen and (min-width: 699px) {
    .menu-icon {
      display: none;
    }
  }
  @media only screen and (max-width: 699px) {
    .dropdown {
      margin-left: auto;
      z-index: 5;
      &:hover .container-dropdown-items {
        display: flex;
      }
      &:not(:hover) .container-dropdown-items {
        display: none;
        animation: fade-out 300ms 1 ease-out;
      }
    }
    .menu-icon {
      margin-right: 20px;
      padding-inline: 10px;
      max-width: 45px;
      filter: brightness(0) saturate(100%) invert(57%) sepia(6%) saturate(183%)
        hue-rotate(169deg) brightness(92%) contrast(92%);
    }
    .container-dropdown-items {
      position: absolute;
      top: 40px;
      right: 0px;
      display: none;
      background-color: var(--color-main-dark);
      flex-direction: column;
      align-items: center;
      padding: 10px 20px;
      border-radius: 0px 0px 0px 15px;
      transition: all 200ms ease-in-out;
      animation: fade-in 200ms 1;
      & li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
        width: 50px;
        border-bottom: 1px solid var(--color-main-bright);
      }
      & li:first-child {
        border-top: 1px solid var(--color-main-bright);
      }
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    25% {
    }
    75% {
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
      display: flex;
    }
    25% {
    }
    75% {
      display: flex;
    }
    100% {
      display: none;
      opacity: 0;
    }
  }
</style>
