---
interface Props {
  mode: string;
}
const { mode } = Astro.props;
{
  /* Modes: All, Home, Blog, Professional */
}
const logoHome = {
  href: "/",
  src: "../logos/Bryan-Hogan-Light-Logo.svg",
  alt: "Bryan Hogan's minimalist 1bit pixelart turtle logo soft white color only",
  width: "16",
  height: "16",
  title: "Home Page",
  target: "",
};
const follow = {
  href: "/follow",
  src: "../icons/Bird-Icon.svg",
  alt: "Simple bird icon simple soft white color only",
  width: "24",
  height: "24",
  title: "Join The Mail Newsletter",
  target: "",
};
const medium = {
  href: "https://medium.com/@bryanhoganme",
  src: "../logos/Medium-Logo.svg",
  alt: "Medium logo simple white soft color only",
  width: "18",
  height: "10",
  title: "Medium",
  target: "_blank",
};
const linkedin = {
  href: "https://www.linkedin.com/in/bryanhoganme",
  src: "../logos/LinkedIn-Logo.svg",
  alt: "LinkedIn logo simple soft white color only",
  width: "12",
  height: "12",
  title: "LinkedIn",
  target: "_blank",
};
const instagram = {
  href: "https://www.instagram.com/bryanhoganme/",
  src: "../logos/Instagram-Logo.svg",
  alt: "Instagram logo simple soft white color only",
  width: "12",
  height: "12",
  title: "Instagram",
  target: "_blank",
};
const youtube = {
  href: "/",
  src: "../logos/Youtube-Logo.svg",
  alt: "Youtube logo simple soft white color only",
  width: "15",
  height: "10",
  title: "Youtube",
  target: "_blank",
};
const twitch = {
  href: "https://www.twitch.tv/bluebeku",
  src: "../logos/Twitch-Logo.svg",
  alt: "Twitch logo simple soft white color only",
  width: "12",
  height: "13",
  title: "Twitch",
  target: "_blank",
};
const github = {
  href: "https://github.com/BryanHogan/",
  src: "../logos/Github-Logo.svg",
  alt: "Github logo simple soft white color only",
  width: "32",
  height: "31",
  title: "Github",
  target: "_blank",
};
const substack = {
  href: "https://bryanhogan.substack.com/",
  src: "../logos/Substack-Logo.svg",
  alt: "Substack logo simple soft white color only",
  width: "22",
  height: "24",
  title: "Substack",
  target: "_blank",
}
---

<header>
  <nav>
    {
      mode == "All" && (
        <ul class="header-container">
          <li style="width: 100%;">
            <ul class="container-priority-items">
              <li>
                <a href={logoHome.href} target={logoHome.target}>
                  <img
                    src={logoHome.src}
                    alt={logoHome.alt}
                    width={logoHome.width}
                    height={logoHome.height}
                    title={logoHome.title}
                  />
                </a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <img
              src="../icons/Menu-Icon.svg"
              class="menu-icon"
              alt="Menu bar icon simple soft white color only"
              width="18"
              height="14"
            />
            <ul class="container-dropdown-items">
              <li>
                <a href="../portfolio#contact">Contact</a>
              </li>
              <li>
                <a href={follow.href} target={follow.target}>
                  <img
                    src={follow.src}
                    alt={follow.alt}
                    width={follow.width}
                    height={follow.height}
                    title={follow.title}
                  />
                </a>
              </li>
              <li>
                <a href={medium.href} target={medium.target}>
                  <img
                    src={medium.src}
                    alt={medium.alt}
                    width={medium.width}
                    height={medium.height}
                    title={medium.title}
                  />
                </a>
              </li>
              <li>
                <a href={linkedin.href} target={linkedin.target}>
                  <img
                    src={linkedin.src}
                    alt={linkedin.alt}
                    width={linkedin.width}
                    height={linkedin.height}
                    title={linkedin.title}
                  />
                </a>
              </li>
              <li>
                <a href={instagram.href} target={instagram.target}>
                  <img
                    src={instagram.src}
                    alt={instagram.alt}
                    width={instagram.width}
                    height={instagram.height}
                    title={instagram.title}
                  />
                </a>
              </li>
              <li>
                <a href={youtube.href} target={youtube.target}>
                  <img
                    src={youtube.src}
                    alt={youtube.alt}
                    width={youtube.width}
                    height={youtube.height}
                    title={youtube.title}
                  />
                </a>
              </li>
              <li>
                <a href={twitch.href} target={twitch.target}>
                  <img
                    src={twitch.src}
                    alt={twitch.alt}
                    width={twitch.width}
                    height={twitch.height}
                    title={twitch.title}
                  />
                </a>
              </li>
              <li>
                <a href={github.href} target={github.target}>
                  <img
                    src={github.src}
                    alt={github.alt}
                    width={github.width}
                    height={github.height}
                    title={github.title}
                  />
                </a>
              </li>
            </ul>
          </li>
        </ul>
      )
    }
    {
      mode == "Home" && (
        <ul class="header-container">
          <li style="width: 100%;">
            <ul class="container-priority-items">
              <li>
                <a href={logoHome.href} target={logoHome.target}>
                  <img
                    src={logoHome.src}
                    alt={logoHome.alt}
                    width={logoHome.width}
                    height={logoHome.height}
                    title={logoHome.title}
                  />
                </a>
              </li>
              <li>
                <a href="/blog">Blog</a>
              </li>
              <li>
                <a href={follow.href} target={follow.target}>
                  <img
                    src={follow.src}
                    alt={follow.alt}
                    width={follow.width}
                    height={follow.height}
                    title={follow.title}
                  />
                </a>
              </li>
              <li>
                <a href="/portfolio">Portfolio</a>
                </li>
            </ul>
          </li>
          <li class="dropdown">
            <img
              src="../icons/Menu-Icon.svg"
              class="menu-icon"
              alt="Menu bar icon simple soft white color only"
              width="18"
              height="14"
            />
            <ul class="container-dropdown-items">
              <li>
                <a href={instagram.href} target={instagram.target}>
                  <img
                    src={instagram.src}
                    alt={instagram.alt}
                    width={instagram.width}
                    height={instagram.height}
                    title={instagram.title}
                  />
                </a>
              </li>
              <li>
                <a href={medium.href} target={medium.target}>
                  <img
                    src={medium.src}
                    alt={medium.alt}
                    width={medium.width}
                    height={medium.height}
                    title={medium.title}
                  />
                </a>
              </li>
              <li>
                <a href={linkedin.href} target={linkedin.target}>
                  <img
                    src={linkedin.src}
                    alt={linkedin.alt}
                    width={linkedin.width}
                    height={linkedin.height}
                    title={linkedin.title}
                  />
                </a>
              </li>

              <li>
                <a href={github.href} target={github.target}>
                  <img
                    src={github.src}
                    alt={github.alt}
                    width={github.width}
                    height={github.height}
                    title={github.title}
                  />
                </a>
              </li>
            </ul>
          </li>
        </ul>
      )
    }
    {
      mode == "Professional" && (
        <ul class="header-container">
          <li style="width: 100%;">
            <ul class="container-priority-items">
              <li>
                <a href={logoHome.href} target={logoHome.target}>
                  <img
                    src={logoHome.src}
                    alt={logoHome.alt}
                    width={logoHome.width}
                    height={logoHome.height}
                    title={logoHome.title}
                  />
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <img
              src="../icons/Menu-Icon.svg"
              class="menu-icon"
              alt="Menu bar icon simple soft white color only"
              width="18"
              height="14"
            />
            <ul class="container-dropdown-items">
              <li>
                <a href="#contact">Contact</a>
              </li>
              <li>
                <a href={linkedin.href} target={linkedin.target}>
                  <img
                    src={linkedin.src}
                    alt={linkedin.alt}
                    width={linkedin.width}
                    height={linkedin.height}
                    title={linkedin.title}
                  />
                </a>
              </li>

              <li>
                <a href={github.href} target={github.target}>
                  <img
                    src={github.src}
                    alt={github.alt}
                    width={github.width}
                    height={github.height}
                    title={github.title}
                  />
                </a>
              </li>
            </ul>
          </li>
        </ul>
      )
    }
    {
      mode == "Blog" && (
        <ul class="header-container">
          <li style="width: 100%;">
            <ul class="container-priority-items">
              <li>
                <a href={logoHome.href} target={logoHome.target}>
                  <img
                    src={logoHome.src}
                    alt={logoHome.alt}
                    width={logoHome.width}
                    height={logoHome.height}
                    title={logoHome.title}
                  />
                </a>
              </li>
              <li>
                <a href="/blog">Blog</a>
              </li>
              <li>
                <a href={follow.href} target={follow.target}>
                  <img
                    src={follow.src}
                    alt={follow.alt}
                    width={follow.width}
                    height={follow.height}
                    title={follow.title}
                  />
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <img
              src="../icons/Menu-Icon.svg"
              class="menu-icon"
              alt="Menu bar icon simple soft white color only"
              width="18"
              height="14"
            />
            <ul class="container-dropdown-items">
              <li>
                <a href={instagram.href} target={instagram.target}>
                  <img
                    src={instagram.src}
                    alt={instagram.alt}
                    width={instagram.width}
                    height={instagram.height}
                    title={instagram.title}
                  />
                </a>
              </li>
              <li>
                <a href={medium.href} target={medium.target}>
                  <img
                    src={medium.src}
                    alt={medium.alt}
                    width={medium.width}
                    height={medium.height}
                    title={medium.title}
                  />
                </a>
              </li>
            </ul>
          </li>
        </ul>
      )
    }
  </nav>
</header>

<style>
  header {
    width: 100%;
    height: 50px;
  }
  .header-container {
    position: fixed;
    background-color: var(--color-main-dark);
    z-index: 4;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 100%;
    & li a {
      color: var(--color-main-bright);
      text-decoration: none;
    }
    & .container-dropdown-items li,
    .container-priority-items li {
      transition: all 300ms;
      filter: brightness(0) saturate(100%) invert(57%) sepia(6%) saturate(183%)
        hue-rotate(169deg) brightness(92%) contrast(92%);
      transform: scale(1.001);
      &:hover {
        transition: all 200ms;
        filter: brightness(0) saturate(100%) invert(86%) sepia(2%)
          saturate(892%) hue-rotate(187deg) brightness(114%) contrast(88%);
        transform: scale(1.1) translate3d(0, 0, 0) perspective(1px);
      }
    }
  }
  img {
    height: 20px;
    width: 100%;
    min-width: 30px;
  }
  .dropdown,
  .container-priority-items {
    height: 100%;
  }
  .container-dropdown-items,
  .container-priority-items,
  .dropdown {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .last-item-left-side {
    margin-right: auto;
  }
  .last-item-right-side {
    margin-left: auto;
  }
  .container-dropdown-items li,
  .container-priority-items li {
    padding: 5px 7px;
    & a {
    }
  }
  @media only screen and (min-width: 699px) {
    .menu-icon {
      display: none;
    }
  }
  @media only screen and (max-width: 699px) {
    .dropdown {
      margin-left: auto;
      z-index: 5;
      &:hover .container-dropdown-items {
        display: flex;
      }
      &:not(:hover) .container-dropdown-items {
        display: none;
        animation: fade-out 300ms 1 ease-out;
      }
    }
    .menu-icon {
      margin-right: 20px;
      padding-inline: 10px;
      max-width: 45px;
      filter: brightness(0) saturate(100%) invert(57%) sepia(6%) saturate(183%)
        hue-rotate(169deg) brightness(92%) contrast(92%);
    }
    .container-dropdown-items {
      position: absolute;
      top: 40px;
      right: 0px;
      display: none;
      background-color: var(--color-main-dark);
      flex-direction: column;
      align-items: center;
      padding: 10px 20px;
      border-radius: 0px 0px 0px 15px;
      transition: all 200ms ease-in-out;
      animation: fade-in 200ms 1;
      & li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
        width: 50px;
        border-bottom: 1px solid var(--color-main-bright);
      }
      & li:first-child {
        border-top: 1px solid var(--color-main-bright);
      }
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    25% {
    }
    75% {
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
      display: flex;
    }
    25% {
    }
    75% {
      display: flex;
    }
    100% {
      display: none;
      opacity: 0;
    }
  }
</style>
