---
interface Props {
  title: string;
  metaDescription: string;
  headerMode: string;
  ogtype: string;
}
const { title, metaDescription, headerMode, ogtype } = Astro.props;

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-Type" content="text/html; utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={metaDescription} />

    <link rel="icon" href="/logos/fav/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/logos/Bryan-Hogan-Logo-Gradient-16x.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/logos/fav/Bryan-Hogan-Logo-Gradient-Apple-Touch-Icon.png" />
    <link rel="manifest" href="/logos/fav/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content="bryan, hogan, blog, portfolio" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="English" />
    <meta name="author" content="Bryan Hogan" />
    <meta name="publisher" content="Bryan Hogan" />
    <meta name="copyright" content="Bryan Hogan" />
    <meta http-equiv="Reply-to" content="Bryan@BryanHogan.com" />
    <title>{title}</title>

    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="bryanhogan.com" />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:image" content="/images/Bryan-Hogan-Preview.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta
      property="og:image:alt"
      content="Bold prominent BryanHogan.com text in the middle with small round picture of Bryan Hogan smiling above"
    />
  </head>

  <body>
    <Header mode={headerMode} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --color-main-dark: #202124;
    --color-main-dark-brighter: #23262d;
    --color-main-dark-50: #84878a;
    --color-main-dark-30: #acafb3;

    --color-main-bright: #e8ecf0;

    --color-main-accent: #a594d3;
    --color-main-dark-transparent: #2021241f;
    --color-side-accent: #8fb8cd;

    --shadow-black: rgba(0, 0, 0, 0.25);
    --box-shadow-large: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    --box-shadow-medium: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --text-shadow-inset: 0px 2px 4px rgba(0, 0, 0, 0.25);

    --shadow-bright: var(--color-main-accent);
    --box-shadow-bright-medium: 0px 4px 8px 0px var(--shadow-bright);
    --box-shadow-bright-small: 0px 2px 4px 0px var(--shadow-bright);

    --section-spacing: 6rem;
    --border-radius-standard: 1em;

    --section-padding: 4em;
    --section-margin-bottom: 4em;

    --text-standard-width: 650px;

    --small-gap: 2em;
    --medium-gap: 4em;
    --large-gap: 8em;

    --gradient-background: linear-gradient(
      140deg,
      #af81cd,
      #767fd1,
      #8fb8cd,
      #32ccdf
    );
  }

   {
    /* Table Of Contents
    0 - CSS Reset
    1 - Global Styles
    2 - Layout
    3 - Typography
    4 - Utilty
*/
  }
  *,
  *::before,
  *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  }
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  html:focus-within {
    scroll-behavior: smooth;
  }

  img,
  picture {
    max-width: 100%;
    display: block;
  }
  body {
    color: var(--color-main-bright);
    background-color: var(--color-main-dark);
    font-size: 1rem;
    min-width: 280px;
  }

   {
    /*  ====================
      2 - Layout
    ==================== */
  }

  section {
    padding: var(--section-padding) 0;
    margin-bottom: var(--section-margin-bottom);
  }
  @media only screen and (min-width: 699px) {
  }

   {
    /*  ====================
      3 - Typography (700, 400)
    ==================== */
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
  }

  h2 {
    font-size: 3.2rem;
    margin-bottom: 1em;
  }

  h3 {
    font-size: 2.4rem;
  }
  @media only screen and (max-width: 699px) {
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2.8rem;
    }
    h3 {
      font-size: 1.8rem;
    }
  }
  p,
  li {
    font-weight: 400;
    font-size: 1.125rem;
    letter-spacing: 0.2px;
    line-height: 1.6;
  }
  .strong-accent {
    color: var(--color-side-accent);
    font-weight: normal;
  }

  .text-standard-width {
    max-width: 700px;
  }
  .text-align-justify {
    text-align: justify;
  }
  .text-align-center {
    text-align: center;
  }
   {
    /*  ====================
    4 - Utility
    ==================== */
  }
  .underline-accent {
    border-bottom: 5px solid var(--color-main-accent);
  }
  .text-section {
    & > *:not(:first-child) {
      margin-block-start: 2em;
    }
    & > p {
      max-width: 700px;
    }
  }
  .text-shadow {
    text-shadow: var(--text-shadow);
  }
  .gradient-background {
    background-color: #767fd1;
    background-image: linear-gradient(
      140deg,
      #af81cd,
      #767fd1,
      #8fb8cd,
      #32ccdf
    );
  }
  .gradient-background-darker {
    background-color: #767fd1;
    background-image: var(--gradient-background);
  }
  .accent-underline {
    border-bottom: 4px solid var(--color-main-accent);
  }
  .accent-underline-adjust-width {
    border-bottom: 4px solid var(--color-main-accent);
    width: fit-content;
    margin-inline: auto;
  }
  /*  ====================
    5 - Blog Related
    ==================== */
  .blog {
    display: grid;
    grid-template-columns: 1fr 16fr 1fr;
    & h1 {
    }
    & h2 {
      word-break: break-word;
      margin-bottom: 0.2em;
    }
    & .highlight-header {
      grid-column: 1 / 4;
      max-width: none;
      width: 100%;
      background-image: var(--gradient-background);
      & h2 {
        text-align: center;
        text-shadow: var(--text-shadow);
        padding-block: 2em;
        max-width: 850px;
        margin-inline: auto;
      }
    }
    & p {
      text-align: start;
    }
    & a {
      word-break: break-word;
      color: var(--color-main-accent);
    }
    & > * {
      grid-column: 2 / 3;
      max-width: 700px;
      width: 92%;
      margin-inline: auto;
      & pre {
        width: 70vw;
        max-width: 650px;
      }
      & li:not(:last-child) {
        padding-bottom: 10px;
      }
    }
  }
  @media only screen and (max-width: 699px) {
    h2 {
      text-align: center;
    }
  }
</style>
