---
import Layout from "./Layout.astro";
import ButtondownSignupForm from "../components/ButtondownSignupForm.astro";

import type { CollectionEntry } from "astro:content";
interface Props {
  post: CollectionEntry<"blog">;
}
import { getCollection } from "astro:content";

const { post } = Astro.props;

const allPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
const indexOfPost = allPosts.findIndex(
  (posts) => post.data.title === posts.data.title,
);
---

<Layout
  title={post.data.title}
  metaDescription={post.data.description}
  headerMode="Reduced"
>
  <div class="gradient-background">
    <img
      src={post.data.coverImage.url}
      alt={post.data.coverImage.alt}
      width={post.data.coverImage.width}
      height={post.data.coverImage.height}
      transition:name={post.data.coverImage.url}
    />
  </div>
  <div class="second-menu-section">
    <ul>
      <li>
        <button onclick="
        history.back()
        " class="">
          <img
            class="arrow-back"
            src="/icons/Arrow-Left-Icon.svg"
            alt="Arrow pointing left indicating its usage to be clickable to go to the previous page."
            height="16"
            width="16"
            title="Go Back"
          />
        </button>
      </li>
    </ul>
  </div>
  <article class="blog text-section">
    <h1 class="text-align-center">{post.data.title}</h1>
    <slot />
    <div class="infos">
      <p>Written by {post.data.author === "Bryan@BryanHogan.com (Bryan Hogan)" ? (<a href="/about">Bryan Hogan</a>) : post.data.author}</p>
      <time datetime={post.data.pubDate.toISOString()}>
        <p>Published: {new Date(post.data.pubDate).toLocaleDateString()}</p>
      </time>
      <time datetime={post.data.lastUpdate.toISOString()}>
        <p>
          Last Update: {new Date(post.data.lastUpdate).toLocaleDateString()}
        </p>
      </time>
    </div>
  </article>
  <ButtondownSignupForm />
  <div class="next-prev-post-section">
    {
      allPosts[indexOfPost - 1] ? (
        <div>
          <p>Next Post:</p>
          <a href={`/blog/${allPosts[indexOfPost - 1].slug}/`}>
            {allPosts[indexOfPost - 1].data.title}
          </a>
        </div>
      ) : null
    }

    {
      allPosts[indexOfPost + 1] ? (
        <div style="margin-left: auto;">
          <p>Previous Post:</p>
          <a href={`/blog/${allPosts[indexOfPost + 1].slug}/`}>
            {allPosts[indexOfPost + 1].data.title}
          </a>
        </div>
      ) : null
    }
  </div>
</Layout>

<style>
  .next-prev-post-section {
    max-width: 700px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-inline: auto;
    margin-top: 2em;

    & > * {
      max-width: 45%;
      flex: 1;
      padding: 10px;
      border: 1px solid var(--color-main-bright);
      border-radius: 1em;
    }
  }
  p {
    text-align: start;
  }
  .second-menu-section {
    display: flex;
    flex-direction: row;
    & li {
      padding: 1em;
      padding-bottom: 0;
    }
    & button {
      background-color: var(--color-main-dark);
      border: none;
    }
  }
  .arrow-back {
    transition: all 300ms;
    filter: brightness(0) saturate(100%) invert(57%) sepia(6%) saturate(183%)
      hue-rotate(169deg) brightness(92%) contrast(92%);
    &:hover {
      transition: all 200ms;
      filter: brightness(0) saturate(100%) invert(86%) sepia(2%) saturate(892%)
        hue-rotate(187deg) brightness(114%) contrast(88%);
    }
    & img {
      height: 0.8em;
    }
  }
  .infos {
    border-top: 1px solid var(--color-main-bright);
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    & p {
      font-size: 0.9rem;
      margin: 0px;
      padding: 0px;
    }
  }
  
  .gradient-background {
    min-height: 250px;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & img {
      height: 120px;
      width: auto;
    }
  }
  @media only screen and (max-width: 699px) {
    .gradient-background {
      min-height: 150px;
      height: 20vh;
      & img {
        height: 80px;
      }
    }
    .infos {
      flex-direction: column;
    }
  }
</style>
