---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
const formattedPubDate = new Date(frontmatter.pubDate).toLocaleDateString();
const formattedLastUpdate = new Date(
  frontmatter.lastUpdate
).toLocaleDateString();
import Button from "../components/Button.astro";
import NewsletterCallout from "../components/NewsletterCallout.astro";
---

<Layout
  title={frontmatter.title}
  metaDescription={frontmatter.description}
  headerMode="Blog"
  ogtype="article"
>
  <div class="gradient-background">
    <img
      src={frontmatter.coverImage.url}
      alt={frontmatter.coverImage.alt}
      width={frontmatter.coverImage.width}
      height={frontmatter.coverImage.height}
      transition:name={frontmatter.coverImage.url}
    />
  </div>
  <article class="blog text-section">
    <h1 class="text-align-center">{frontmatter.title}</h1>
    <slot />
    <div class="infos">
      <p>Written by {frontmatter.author}</p>
      <p>Published: {formattedPubDate}</p>
      <p>Last update: {formattedLastUpdate}</p>
    </div>
  </article>
  <NewsletterCallout/>
</Layout>

<style>
  p {
    text-align: start;
  }
  .infos {
    border-top: 1px solid var(--color-main-bright);
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    & p {
      font-size: 0.9rem;
      margin: 0px;
      padding: 0px;
    }
  }
  h1 {
    text-wrap: balance;
    max-width: 1250px;
    margin-inline: auto;
    grid-column: 2 / 3;
    margin-top: 1em;
    text-align: center;
  }
  .gradient-background {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & img {
      height: 120px;
      width: auto;
    }
  }
  @media only screen and (max-width: 699px) {
    .infos {
      flex-direction: column;
    }
    h1 {
      font-size: 2.8rem;
    }
    h2 {
      font-size: 2.4rem;
    }
  }
</style>
